---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import Main from "@layouts/Main.astro";
import { Image } from "astro:assets";
import avatar from "../assets/avatar.jpg";
import { Tooltip } from "@components/Tooltip";

const posts = await getCollection("posts");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
const years = `${new Date().getFullYear() - 2016} years`;

const tt38 = {
  assessing:
    "You are careful and critical. You understand there may be pitfalls, even though everything can seem in perfect order, and frequently take on the role of looking for them. This can also make you somewhat careful and cautious with new friendships. You look ahead when you are planning your work, so obstacles can be identified, and a flawless piece of work can be delivered as a result.",
  coordinating:
    "You organise large complex projects to make it possible for the goal to be reached. You have a comprehensive view of things and use this to inform others of where to go, even when it becomes somewhat chaotic. You are efficient, flexible, and adjustable in order for maximum cooperation with others. Where others get lost and find it difficult, you can find the most favourable path and direction for them to follow.",
  improver:
    "You thrive with excellence, never with mediocrity. You truly enjoy helping others achieve excellence and love to perform at your maximum level. You like to work with other highly skilled individuals, as this makes working more enjoyable and more challenging.",
};
---

<Layout>
  <Header />
  <Main>
    <Fragment slot="title">
      <div
        class="mb-8 grid grid-cols-[auto_1fr] grid-rows-[80px] gap-4 sm:grid-rows-[92px]"
      >
        <Image src={avatar} alt="My face" class="h-full w-auto rounded-md" />
        <div class="whitespace-nowrap">
          <h1 class="mb-2 text-4xl font-bold sm:text-5xl">Filip Rec</h1>
          <em class="text-skin-accent">/ˈfi.lip rɛt͡s/</em>
        </div>
      </div>
    </Fragment>

    <Fragment slot="description">
      <div>
        <div class="prose mb-7">
          <p>
            Hey there, my name is Filip. I'm a full-stack product engineer at <a
              href="https://contractbook.com"
              target="_blank">Contractbook</a
            >.
          </p>
          <p>
            I gravitate a bit more towards the frontend. My speciality is
            creating polished experiences for users and developers, as well as
            fixing old ones. For the past {years}, I have had the opportunity to
            do just that, working on and leading various projects across the
            full spectrum of software development.
          </p>

          <p>
            According to <a
              href="https://talents-unlimited.dk/en/services/tt38-talent-test/"
              target="_blank">TT38</a
            >, my main traits are
            <Tooltip client:load content={tt38.assessing}> Assessing </Tooltip>,
            <Tooltip client:load content={tt38.coordinating}
              >Co-ordinating</Tooltip
            >, and <Tooltip client:load content={tt38.improver}
              >Improver</Tooltip
            >, which I think is surprisingly accurate. I take pride in my
            attention to detail, and can spot a typo in record time.
          </p>

          <p class="my-2">You can find me on:</p>
          <div class="social-wrapper">
            <Socials horizontal />
          </div>
        </div>

        <Hr noPadding />

        {
          featuredPosts.length > 0 && (
            <>
              <section id="featured">
                <h2>Featured</h2>
                <ul>
                  {featuredPosts.map(post => {
                    const { slug } = post;

                    return (
                      <Card
                        href={`/posts/${slug}/`}
                        post={post}
                        secHeading={false}
                      />
                    );
                  })}
                </ul>
              </section>
              {recentPosts.length > 0 && <Hr />}
            </>
          )
        }

        {
          recentPosts.length > 0 && (
            <section id="recent-posts">
              <h2>Recent posts</h2>
              <ul>
                {recentPosts.map((post, index) => {
                  const { slug } = post;

                  return (
                    index < 4 && (
                      <Card
                        href={`/posts/${slug}/`}
                        post={post}
                        secHeading={false}
                      />
                    )
                  );
                })}
              </ul>
            </section>
          )
        }

        <div class="all-posts-btn-wrapper">
          <LinkButton href="/posts/">
            All posts
            <svg xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
              ></path>
            </svg>
          </LinkButton>
        </div>
      </div>
    </Fragment>

    <style>
      /* ===== Hero Section ===== */
      #hero {
        @apply pb-6 pt-8;
      }
      #hero .rss-link {
        @apply mb-6;
      }
      #hero .rss-icon {
        @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
      }
      #hero p {
        @apply my-2;
      }

      /* ===== Featured & Recent Posts Sections ===== */
      #featured,
      #recent-posts {
        @apply mt-6;
      }
      #featured h2,
      #recent-posts h2 {
        @apply text-2xl font-semibold tracking-wide;
      }
      .all-posts-btn-wrapper {
        @apply mb-6 mt-8 text-center;
      }
    </style>
  </Main>
</Layout>
