---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import type { Post } from "types";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: Post[];
  tag: string;
}

const { currentPage, totalPages, paginatedPosts, tag } = Astro.props;
---

<Layout title={`Tag: ${tag} | ${SITE.title}`}>
  <Header />
  <Main>
    <Fragment slot="title">
      <span>Tag:</span>
      <span transition:name={tag} class="text-skin-accent">
        {tag}
      </span>
    </Fragment>

    <ul>
      {
        paginatedPosts.map(post => {
          const { slug } = post;

          return <Card href={`/posts/${slug}/`} post={post} />;
        })
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/tags/${tag}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/tags/${tag}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
